* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    height: 100vh;
}
.slider {
    width: 100%;
    height: 100%;
}
.images {
    display: flex;
    width: 100%;
    height: 70%;
}


.m1,.m2,.m3,.m4, .m,.m5,.m6 {
    height: 100%;
    width: 100%;
    transition: all 0.15s ease; 
}



.m2,.m3,.m5,.m6 {
    display: none;
}

.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
    max-height: 800px;
    border: 1px solid red;
}


.dots label {
    max-height: 800px;
    width: 30%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.dots label:hover {background: #fff;}


#img1:checked ~ .m1 {
    margin-left: -0%;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
    display: flex;
}
#img3:checked ~ .m3 {
    margin-left: -100%;
    display: flex;
}
#img4:checked ~ .m4 {
    margin-left: 0;
}

#img5:checked ~ .m5 {
    margin-left: -100%;
    display: flex;
}

#img6:checked ~ .m6 {
    margin-left: -100%;
    display: flex;
}



@media (max-width: 600px) {
    .dots {
        display: none;
    }


    .images {
        height: 100%;
    }

}